/* custom CSS */

html {
  height: 100%;
}

body {
  background: linear-gradient(#4D505B, black);
  background-attachment: fixed;
}

.jumbotron {
  background-color: #4CA8A1;
}

.jumbotron a {
  margin: 10px;
}

h1 {
  color: #F6F6F6;
  font-size:4em;
}

h2 {
  font-family: 'Roboto', sans-serif;
  margin: auto;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
  color: #F6F6F6;
  /*font-size: 16px;*/
}

#hrMin {
  font-size: 200px;
  /*font-size:3em;*/
}

#sec {
  font-size: 30px;
  font-weight: 300;
}

button {
  /*width:90%;*/
  margin-bottom: 10px;
}

.student {
  margin: 20px;
  width: 95%;
  height: 100px;
  font-size: 2.5em;
}

#summary {
  width: 92%;
  margin: 0 auto 20px !important;
  float: none !important;
  color:#F6F6F6;
  font-size:1.5em;
  letter-spacing:1px;
}

td {
  font-weight: 100;
}

table {
  font-size:2em;
}



/******************BOOTSTRAP THEME*********************/


/* Space out content a bit */

body {
  padding-top: 20px;
  padding-bottom: 20px;
}


/* Everything but the jumbotron gets side spacing for mobile first views */

.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}


/* Custom page header */

.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}


/* Make the masthead heading the same height as the navigation */

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}


/* Custom page footer */

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}


/* Customize container */

@media (min-width: 768px) {
  .container {
    /* max-width: 730px; */
    max-width: 968px;
  }
}

.container-narrow > hr {
  margin: 30px 0;
}


/* Main marketing message and sign up button */

.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}


/* Supporting marketing content */

.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}


/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header, .marketing, .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
